* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#global {
    height: 100vh;
    width: 100vw;
}

#form {
    margin-top: 25vh;
    margin-left: 25vw;
    width: 50vw;
    height: 50vh;
    background-color: rgb(27, 27, 27);
    text-align: center;
    padding-top: 10vh;
}