html
    head
        style
            include ./access_fr.css
    body
        div(id="global")
            div(id="form")
                form(action="/access_fr" method="POST")
                    label(for="code" style="color: white;") Code :
                    br
                    input(type="text" name="code" required)
                    br
                    input(type="submit" value="ENVOYER")