* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

li a:hover {
    background-color: white;
    color: rgb(27, 27, 27)
}

#navbar {
    height: 5vh;
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
    height: 5vh;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#corps {
    height: 83vh;
    width: 100vw;
}

#constru {
    font-size: 5vh;
    color: rgb(27, 27, 27);
    text-align: center;
    padding-top: 10vh;
}

#footer {
    height: 5vh;
    width: 100vw;
}
