html
    head
        style
            include ./accueil.css
    body
        div(id="navbar")
            ul
                li
                    a(href="/") Accueil
                li
                    a(href="#") News
                li
                    a(href="#") A propos
                li
                    a(href="#") CV
                li
                    a(href="#") Travaux
                li
                    a(href="#") Médias
                li
                    a(href="/access_fr") Accès
                li
                    a(href="#") Contact
                li
                    a(href="#" style="float: right;") English
        div(id="corps")
            p(id="constru") Site actuellement en construction
        div(id="footer")
            ul
                li
                    a(href="/") www.levios.fr