@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


#global {
    width: 100vw;
    height: 100vh;
    background-image: url(../public/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vW 100vh;
    display: table;
}

#game {
    display: table-row;
    width: 100vw;
    height: 25vh;
}


#game_img {
    display: inline-block;
    height: 25vw;
    width: 25vw;
}

.game_img {
    height: 25vw;
    width: 25vw;
}

#game_infos {
    display: inline-block;
    height: 25vw;
    width: 75vw;
}

#game_title {
    display: table;
    height: 15vw;
    width: 75vw;
    background-color: gold;
}

.game_title {
    display: table-cell;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: darkviolet;
}

#game_play_button {
    display: table;
    height: 10vw;
    width: 75vw;
}

.play_button {
    display: table-cell;
    height: 10vw;
    width: 75vw;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 5vh;
    background-color: darkviolet;
    color: gold;
}

#footer {
    height: 10vh;
    width: 100vw;
    background-color: rgb(36, 36, 36);
    position: fixed;
    bottom: 0;
    display: table;
}

.footer_text {
    display: table-cell;
    color: rgb(0, 217, 255);
    text-align: center;
    vertical-align: middle;
}