html
    head
        style
            include ./casiibro.css
    body
        div(id="global")
            div(id="game")
                div(id="game_img")
                    img(src="./public/img/casiinopoly.png" class="game_img")
                div(id="game_infos")
                    div(id="game_title")
                        p(class="game_title") Casiinopoly
                    div(id="game_play_button")
                        a(href="/casiinopoly" class="play_button") JOUER
            div(id="game")
                div(id="game_img")
                    img(src="./public/img/liondestiny.png" class="game_img")
                div(id="game_infos")
                    div(id="game_title")
                        p(class="game_title") Lion Destiny
                    div(id="game_play_button")
                        a(href="/liondestiny" class="play_button") JOUER
            div(id="footer")
                p(class="footer_text") www.levios.fr | Copyright 2019