doctype
html
    head
        style
            include ./csnpl_players.css
    body
        form(action="/csnpl_players" method='POST')
            label(class="cta" for="j1") J1 :&ensp; 
                input(class='field' type='text', name='j1', id='j1', required)
            br
            label(class="cta" for="j1") J2 :&ensp;
                input(class='field' type='text', name='j2', id='j2', required)
            br
            div(class='wrapper')
                input(class="cta" class="submit" type='submit', name='submit', value='OK')
                span
                    svg(width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")

            