doctype
html
    head
        style
            include ./csnpl_game.css
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    body
        div(id='board')
            div(id='top_fields')
                div(id='case_11' class='cases_v' style=`background-image: url(${gameboard.case11_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case11_pion class='pion' onerror="this.style.display='none'")
                div(id='case_12' class='cases_v' style=`background-image: url(${gameboard.case12_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case12_pion class='pion' onerror="this.style.display='none'")
                div(id='case_13' class='cases_v' style=`background-image: url(${gameboard.case13_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case13_pion class='pion' onerror="this.style.display='none'")
                div(id='case_14' class='cases_v' style=`background-image: url(${gameboard.case14_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case14_pion class='pion' onerror="this.style.display='none'")
                div(id='case_15' class='cases_v' style=`background-image: url(${gameboard.case15_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case15_pion class='pion' onerror="this.style.display='none'")
                div(id='case_16' class='cases_v' style=`background-image: url(${gameboard.case16_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case16_pion class='pion' onerror="this.style.display='none'")
                div(id='case_17' class='cases_v' style=`background-image: url(${gameboard.case17_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case17_pion class='pion' onerror="this.style.display='none'")
                div(id='case_18' class='cases_v' style=`background-image: url(${gameboard.case18_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case18_pion class='pion' onerror="this.style.display='none'")
                div(id='case_19' class='cases_v' style=`background-image: url(${gameboard.case19_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case19_pion class='pion' onerror="this.style.display='none'")
                div(id='case_20' class='cases_v' style=`background-image: url(${gameboard.case20_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case20_pion class='pion' onerror="this.style.display='none'")
                div(id='case_21' class='cases_v' style=`background-image: url(${gameboard.case21_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case21_pion class='pion' onerror="this.style.display='none'")
            div(id='middle_fields')
                div(id='left_middle_fields')
                    div(id='case_10' class='cases' style=`background-image: url(${gameboard.case10_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case10_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_09' class='cases' style=`background-image: url(${gameboard.case9_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case9_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_08' class='cases' style=`background-image: url(${gameboard.case8_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case8_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_07' class='cases' style=`background-image: url(${gameboard.case7_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case7_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_06' class='cases' style=`background-image: url(${gameboard.case6_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case6_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_05' class='cases' style=`background-image: url(${gameboard.case5_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case5_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_04' class='cases' style=`background-image: url(${gameboard.case4_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case4_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_03' class='cases' style=`background-image: url(${gameboard.case3_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case3_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_02' class='cases' style=`background-image: url(${gameboard.case2_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case2_pion class='pion' onerror="this.style.display='none'")
                div(id='center')
                    div(id='game_name')
                        p(id='casiinopoly') CASIINOPOLY
                    div(id='head_center')
                        p(id='message')= infoBar.msg
                    div(id='player1')
                        p(id='player1_nickname')= player1.nickname
                        p(id='player1_score')= player1.score
                    div(id='player2')
                        p(id='player2_nickname')= player2.nickname
                        p(id='player2_score')= player2.score
                    div(id='score_input')
                        form(action="/csnpl_score" method="POST")
                            label(for="score") SCORE :
                            input(id='score_field' type="text" name='score')
                            input(id='send_score' type="submit" value='SEND')
                    div(id='buttons')
                        a(id='dices' href='#' onclick="dees();" class='button') DEES
                        a(id='chance' href='#' onclick="chance();" class='button') CHANCE
                        a(id='change_game' href='/csnpl_change' class='button') CHANGE
                div(id='right_middle_fields')
                    div(id='case_22' class='cases' style=`background-image: url(${gameboard.case22_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case22_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_23' class='cases' style=`background-image: url(${gameboard.case23_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case23_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_24' class='cases' style=`background-image: url(${gameboard.case24_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case24_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_25' class='cases' style=`background-image: url(${gameboard.case25_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case25_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_26' class='cases' style=`background-image: url(${gameboard.case26_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case26_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_27' class='cases' style=`background-image: url(${gameboard.case27_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case27_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_28' class='cases' style=`background-image: url(${gameboard.case28_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case28_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_29' class='cases' style=`background-image: url(${gameboard.case29_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case29_pion class='pion' onerror="this.style.display='none'")
                    div(id='case_30' class='cases' style=`background-image: url(${gameboard.case30_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= gameboard.case30_pion class='pion' onerror="this.style.display='none'")
            div(id='bottom_fields')
                div(id='case_01' class='cases_v' style=`background-image: url(${gameboard.case1_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case1_pion class='pion' onerror="this.style.display='none'")
                div(id='case_40' class='cases_v' style=`background-image: url(${gameboard.case40_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case40_pion class='pion' onerror="this.style.display='none'")
                div(id='case_39' class='cases_v' style=`background-image: url(${gameboard.case39_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case39_pion class='pion' onerror="this.style.display='none'")
                div(id='case_38' class='cases_v' style=`background-image: url(${gameboard.case38_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case38_pion class='pion' onerror="this.style.display='none'")
                div(id='case_37' class='cases_v' style=`background-image: url(${gameboard.case37_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case37_pion class='pion' onerror="this.style.display='none'")
                div(id='case_36' class='cases_v' style=`background-image: url(${gameboard.case36_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case36_pion class='pion' onerror="this.style.display='none'")
                div(id='case_35' class='cases_v' style=`background-image: url(${gameboard.case35_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case35_pion class='pion' onerror="this.style.display='none'")
                div(id='case_34' class='cases_v' style=`background-image: url(${gameboard.case34_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case34_pion class='pion' onerror="this.style.display='none'")
                div(id='case_33' class='cases_v' style=`background-image: url(${gameboard.case33_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case33_pion class='pion' onerror="this.style.display='none'")
                div(id='case_32' class='cases_v' style=`background-image: url(${gameboard.case32_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case32_pion class='pion' onerror="this.style.display='none'")
                div(id='case_31' class='cases_v' style=`background-image: url(${gameboard.case31_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= gameboard.case31_pion class='pion' onerror="this.style.display='none'")
        script
            include ./swal.js