@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

body {
    margin: 0;
    padding: 0;
    background-image: url('../../public/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vW 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#board {
    width: 99vh;
    max-width: 100vw;
    height: 99vh;
    max-height: 100vW;
    top: 0;
    margin: 0 auto;
    padding: 0;
    display: table;
    position: relative;
}

#top_fields {
    width: 99vh;
    height: 9vh;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

#middle_fields {
    width: 99vh;
    height: 81vh;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

#left_middle_fields {
    width: 9vh;
    height: 81vh;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#center {
    width: 81vh;
    height: 81vh;
    display: inline-block;
    bottom: 10vh;
    padding: 0;
    overflow: hidden;
}

#head_center {
    width: 81vh;
    height: 9vh;
    background-color: #FBC638;
    display: table;
    margin: 0;
    padding: 0;
}

#message {
    font-size: 2.5vh;
    color: #6225E6;
    display: table-row;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
}

#player1 {
    width: 81vh;
    height: 18vh;
    background-color: #FBC638;
    display: table;
    padding-left: 1vw;
}

#player1_nickname {
    font-size: 5vh;
    color: #6225E6;
    display: table-row;
}

#player1_score {
    font-size: 5vh;
    color: #6225E6;
    display: table-row;
}

#player2 {
    width: 81vh;
    height: 18vh;
    background-color: #6225E6;
    display: table;
    padding-left: 1vw;
}

#player2_nickname {
    font-size: 5vh;
    color: #FBC638;
    display: table-row;
}

#player2_score {
    font-size: 5vh;
    color: #FBC638;
    display: table-row;
}

#game_name {
    width: 81vh;
    height: 9vh;
    display: table;
}

#casiinopoly {
    font-size: 5vh;
    color: #FBC638;
    text-align: center;
    display: table-row;
    vertical-align: middle;
}

#buttons {
    width: 81vh;
    height: 9vh;
    background-color: #6225E6;
    display: block;
}

.button {
    display: table;
    width: 27vh;
    height: 9vh;
    background-color: #6225E6;
    text-align: center;
    border-radius: 5px;
    color: #FBC638;
    font-weight: bold;
    text-decoration: none;
}

#dices {
    display: table-cell;
    font-size: 5vh;
}

#chance {
    display: table-cell;
    font-size: 5vh;
}

#change_game {
    display: table-cell;
    font-size: 5vh;
}

#score_input {
    width: 81vh;
    height: 18vh;
    background-color: #FBC638;
    padding-top: 2vh;
    display: table;
}

#score_input form {
    width: 81vh;
    height: 18vh;
    display: table-cell;
}

#score_input label {
    width: 20vh;
    height: 18vh;
    font-size: 4.5vh;
    color: #6225E6;
    vertical-align: middle;
}

#score_field {
    width: 35vh;
    height: 9vh;
    font-size: 10vh;
    color: #6225E6;
    vertical-align: middle;
}

#send_score {
    width: 25vh;
    height: 10vh;
    color: #FBC638;
    background-color: #6225E6;
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
}

#right_middle_fields {
    width: 9vh;
    height: 81vh;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#bottom_fields {
    width: 99vh;
    height: 9vh;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.cases_v {
    display: inline-block;
    width: 9vh;
    height: 9vh;
    margin: 0;
    padding: 0;
}

.cases {
    display: block;
    width: 9vh;
    height: 9vh;
    margin: 0;
    padding: 0;
}

img.casespic {
    width: 9vh;
    height: 9vh;
}

.pion_left {
    width: 4vh;
    height: 4vh;
    position: relative;
    display: block;
    background-color: rgb(255, 208, 1);
}

.pion_right {
    width: 4vh;
    height: 4vh;
    position: relative;
    display: block;
    background-color: rgb(48, 19, 110);
}