doctype
html
    head
        style
            include game.css
    body
        div(id='board')
            div(id='top_fields')
                div(id='case_11' class='cases_v' style=`background-image: url(${case_11_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_11_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_11_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_12' class='cases_v' style=`background-image: url(${case_12_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_12_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_12_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_13' class='cases_v' style=`background-image: url(${case_13_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_13_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_13_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_14' class='cases_v' style=`background-image: url(${case_14_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_14_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_14_j1 class='pion_right' onerror="this.style.display='none'")
                div(id='case_15' class='cases_v' style=`background-image: url(${case_15_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_15_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_15_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_16' class='cases_v' style=`background-image: url(${case_16_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_16_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_16_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_17' class='cases_v' style=`background-image: url(${case_17_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_17_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_17_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_18' class='cases_v' style=`background-image: url(${case_18_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_18_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_18_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_19' class='cases_v' style=`background-image: url(${case_19_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_19_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_19_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_20' class='cases_v' style=`background-image: url(${case_20_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_20_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_20_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_21' class='cases_v' style=`background-image: url(${case_21_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_21_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_21_j2 class='pion_right' onerror="this.style.display='none'")
            div(id='middle_fields')
                div(id='left_middle_fields')
                    div(id='case_10' class='cases' style=`background-image: url(${case_10_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_10_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_10_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_09' class='cases' style=`background-image: url(${case_9_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_9_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_9_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_08' class='cases' style=`background-image: url(${case_8_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_8_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_8_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_07' class='cases' style=`background-image: url(${case_7_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_7_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_7_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_06' class='cases' style=`background-image: url(${case_6_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_6_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_6_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_05' class='cases' style=`background-image: url(${case_5_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_5_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_5_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_04' class='cases' style=`background-image: url(${case_4_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_4_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_4_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_03' class='cases' style=`background-image: url(${case_3_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_3_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_3_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_02' class='cases' style=`background-image: url(${case_2_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_2_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_2_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='center')
                    div(id='head_center')
                        p(id='message')= game_msg
                    div(id='player1')
                        p(id='player1_nickname')= j1_nickname
                        p(id='player1_score')= j1_score
                    div(id='player2')
                        p(id='player2_nickname')= j2_nickname
                        p(id='player2_score')= j2_score
                    div(id='game_name')
                        p(id='casiinopoly') CASIINOPOLY
                    div(id='score_input')
                        form(action="/casii_score" method="POST")
                            label(for="score") SCORE :
                            input(id='score_field' type="text" name='score')
                            input(id='send_score' type="submit" value='SEND')
                    div(id='buttons')
                        a(id='dices' href='/casii_dees' class='button' method="GET") DEES
                        a(id='chance' href='/casii_chance' class='button' method="GET") CHANCE
                        a(id='change_game' href='/casii_change' class='button' method="GET") CHANGE
                div(id='right_middle_fields')
                    div(id='case_22' class='cases' style=`background-image: url(${case_22_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_22_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_22_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_23' class='cases' style=`background-image: url(${case_23_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_23_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_23_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_24' class='cases' style=`background-image: url(${case_24_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_24_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_24_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_25' class='cases' style=`background-image: url(${case_25_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_25_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_25_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_26' class='cases' style=`background-image: url(${case_26_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_26_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_26_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_27' class='cases' style=`background-image: url(${case_27_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_27_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_27_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_28' class='cases' style=`background-image: url(${case_28_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_28_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_28_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_29' class='cases' style=`background-image: url(${case_29_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_29_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_29_j2 class='pion_right' onerror="this.style.display='none'")
                    div(id='case_30' class='cases' style=`background-image: url(${case_30_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                        img(src= case_30_j1 class='pion_left' onerror="this.style.display='none'")
                        img(src= case_30_j2 class='pion_right' onerror="this.style.display='none'")
            div(id='bottom_fields')
                div(id='case_01' class='cases_v' style=`background-image: url(${case_1_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_1_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_1_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_40' class='cases_v' style=`background-image: url(${case_40_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_40_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_40_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_39' class='cases_v' style=`background-image: url(${case_39_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_39_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_39_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_38' class='cases_v' style=`background-image: url(${case_38_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_38_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_38_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_37' class='cases_v' style=`background-image: url(${case_37_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_37_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_37_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_36' class='cases_v' style=`background-image: url(${case_36_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_36_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_36_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_35' class='cases_v' style=`background-image: url(${case_35_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_35_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_35_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_34' class='cases_v' style=`background-image: url(${case_34_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_34_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_34_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_33' class='cases_v' style=`background-image: url(${case_33_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_33_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_33_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_32' class='cases_v' style=`background-image: url(${case_32_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_32_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_32_j2 class='pion_right' onerror="this.style.display='none'")
                div(id='case_31' class='cases_v' style=`background-image: url(${case_31_img}); background-repeat: no-repeat; background-size: 9vh 9vh;`)
                    img(src= case_31_j1 class='pion_left' onerror="this.style.display='none'")
                    img(src= case_31_j2 class='pion_right' onerror="this.style.display='none'")