* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#global {
    height: 100vh;
    width: 100vw;
}

#logo_levios {
    margin-top: 1vh;
    height: 10vh;
    width: 100vw;
    text-align: center;
}

.logo_levios {
    display: inline-block;
    height: 10vh;
    width: auto;
}

#title_levios {
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: table;
}

#title {
    display: table-cell;
    vertical-align: middle;
    font-size: 5vh;
}

#corps {
    display: block;
    height: 70vh;
    width: 100vw;
    text-align: center;
}

#enter_button {
    display: inline-block;
    margin-top: 25vh;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
}

#enter_button:hover {
    background-color: white;
    color: rgb(27, 27, 27);
}
  
#enter_button:active {
    box-shadow: none;
    top: 5px;
}

#footer {
    bottom: 0;
    display: block;
    width: 100vw;
    height: 10vh;
    background-color: rgb(27, 27, 27);
}

#logo_levios_footer {
    display: inline-block;
    vertical-align: middle;
    height: 7vh;
    width: auto;
    background-color: white;
    margin-right: 15vw;
    margin-left: 10vh;
}

#footer_text {
    display: inline-block;
    font-size: 3vh;
    vertical-align: middle;
    color: white;
}

#logo_instagram_footer {
    display: inline-block;
    float: right;
    height: 7vh;
    width: auto;
    margin-right: 10vh;
    margin-top: 1.5vh;
    margin-left: 3vh;
}

#logo_linkedin_footer {
    display: inline-block;
    float: right;
    height: 7vh;
    width: auto;
    margin-top: 1.5vh;
    margin-left: 3vh;
}

#logo_twitter_footer {
    display: inline-block;
    float: right;
    height: 7vh;
    width: auto;
    margin-top: 1.5vh;
}

.lang {
    background-color: rgb(27, 27, 27);
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    width: 15vw;
    height: 5vh;
    margin: 1vw;
}

.swal-overlay {
    background-color: white;
  }

.lang:hover {
    background-color: white;
    color: rgb(27, 27, 27);
}
  
.lang:active {
    box-shadow: none;
    top: 5px;
}