html
    head
        style
            include ./index.css
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    body
        div(id="global")
            div(id="logo_levios")
                img(src="./public/img/logolevios.png" class="logo_levios")
            div(id="title_levios")
                p(id="title") LEVIOS
            div(id="corps")
                a(href="#" onclick="selectLang()" id="enter_button") ENTER
            div(id="footer")
                img(id="logo_levios_footer" src="./public/img/logolevios.png")
                p(id="footer_text") Copyright 2019 | www.levios.fr | Socials :
                img(id="logo_instagram_footer" src="./public/img/logoinstagram.png")
                img(id="logo_linkedin_footer" src="./public/img/logolinkedin.png")
                img(id="logo_twitter_footer" src="./public/img/logotwitter.png")
        script
            include ./swal.js