html
    head
        style
            include ./ldtn_game.css
    body
        div(id="global")
            div(id="sticky_logo")
                img(src="./public/img/boulecrystal.png" style="height: 15vh; width: auto;")
            div(id="game_field")
                div(id="left" style="margin-top: 10vh;" class= a_status)
                    a(href="/column_a"  id="button" class= a_status) A
                    div(id="cardA_game" class= card_sens)
                        img(src= a_card_game_img class="game_img" onerror="this.style.display='none'")
                        p(class="game_title")= a_card_game_name
                    div(id="cardA_turn" class= card_sens)
                        p(class="turn")= a_card_turn
                    div(id="cardA_stack" class= card_sens)
                        p(class="stack")= a_card_stack
                div(id="center" class= b_status)
                    a(href="/column_b"  id="button" class= b_status) B
                    div(id="cardB_game" class= card_sens)
                        img(src= b_card_game_img class="game_img" onerror="this.style.display='none'")
                        p(class="game_title")= b_card_game_name
                    div(id="cardB_turn" class= card_sens)
                        p(class="turn")= b_card_turn
                    div(id="cardB_stack" class= card_sens)
                        p(class="stack")= b_card_stack
                div(id="right" class= c_status)
                    a(href="/column_c"  id="button" class= c_status) C
                    div(id="cardC_game" class= card_sens)
                        img(src= c_card_game_img class="game_img" onerror="this.style.display='none'")
                        p(class="game_title")= c_card_game_name
                    div(id="cardC_turn" class= card_sens)
                        p(class="turn")= c_card_turn
                    div(id="cardC_stack" class= card_sens)
                        p(class="stack")= c_card_stack
            div(id="buttonbar")
                a(href="/change_game" class="button") CHANGE
                a(href="/new_party" class="button") NEW