* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../public/img/bgliondestiny.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

#global {
    display: block;
    height: 100vh;
    width: 100vw;
}

#sticky_logo {
    position: fixed;
    margin-left: 46.9vw;
}

#game_field {
    display: inline-block;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    border: 0.5vh ridge gold;
}

#left {
    margin-left: 8vw;
    display: inline-block;
    height: 70vh;
    width: 25vw;
    text-align: center;
}

#center {
    display: inline-block;
    height: 70vh;
    width: 25vw;
    text-align: center;
}

#right {
    display: inline-block;
    height: 70vh;
    width: 25vw;
    text-align: center;
}

.card_dos {
    background-image: url(../public/img/doscarte.png);
    background-size: auto 15vh;
    background-repeat: no-repeat;
    height: 15vh;
    width: auto;
    margin-left: 9.4vw;
}

.card_face {
    background-image: url(../public/img/facecarte.png);
    background-size: auto 20vh;
    background-repeat: no-repeat;
    height: 20vh;
    width: auto;
    margin-left: 9vw;
    margin-bottom: 0.5vh;
}

#buttonbar {
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 5vh;
}

.button {
    text-decoration: none;
    color: gold;
    background-color: indigo;
    font-size: 2vh;
    display: inline-block;
    text-align: center;
    margin: 1vw;
    width: 15vw;
}

#button {
    text-decoration: none;
    color: gold;
    background-color: indigo;
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
    margin: 1vw;
    width: 15vw;
}

.status_choice {
    opacity: 1;
}

.status_other {
    opacity: 0.25;
    background-color: lightslategrey;
}

.game_img {
    width: 10vh;
    height: auto;
    margin-right: 8.5vw;
    margin-top: 1.5vh;
}

.game_title {
    color: indigo;
    font-size: 1.5vh;
    margin-right: 8.8vw;
}

.turn {
    color: indigo;
    font-size: 6vh;
    margin-right: 8.5vw;
    margin-top: 1.5vh;
}

.stack {
    color: indigo;
    font-size: 6vh;
    margin-right: 8.5vw;
    margin-top: 1.5vh;
}

#cardA_game {
    display: block;
}

#cardA_turn {
    display: block;
}

#cardA_stack {
    display: block;
}

#cardB_game {
    display: block;
}

#cardB_turn {
    display: block;
}

#cardB_stack {
    display: block;
}

#cardC_game {
    display: block;
}

#cardC_turn {
    display: block;
}

#cardC_stack {
    display: block;
}